# SOHEL NADAF - Assignment-1

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [2]:
# asterisk symbol used to multiplication  
*

In [3]:
# example of asterisk
10 * 20

200

In [ ]:
# this is a string 
'hello'

In [4]:
# this is Unary Negation 
-87.8

-87.8

In [ ]:
# Arithmetic Operator used for performing substraction operation
-

In [5]:
#example 
40-23

17

In [ ]:
# Arithmetic Operator used for performing division operation it will give result in float 
/

In [6]:
#example 
10/5

2.0

In [ ]:
# Arithmetic Operator used to perform addition operation
+

In [7]:
10 + 20

30

In [ ]:
# this is a integer value 
6

## 2. What is the difference between string and variable?

In [10]:
# string - A string is a sequence of one or more characters they are immutable it means we cant change them  
data  = "sohel nadaf" 
print(f"{data} is a type of {type(data)}")

sohel nadaf is a type of <class 'str'>

In [13]:
# variable - varibale are symbols we can store data inside variable so we can use them later in pgm
#             simply means varibale used to hold the data just like above example 
# variable can store data of different types int,string,float,list etc...

#     variable     string data
#      data    =    "sohel nadaf"

print(f"we can print data with the help of variable {data}")

we can print data with the help of variable sohel nadaf

## 3. Describe three different data types.

In [ ]:
# data type is very much important part of any pgm lang without that we cant do a single operations 
# there are various data types whcih we can perfrom different differernt types of operation.

#### 1.numeric data types

In [17]:
# numeric data type represent the data which has numeric value 


# int  -  It contains positive or negative whole numbers 
a = 10
print(f"this is int data type {a} ")

# float - real number with  floating point
b = 10.89
print(f"this is flaot data type {b}")

# complex - combination of (real part) + (imaginary part)j
c = 3.4j
print(f"this is complex data type {c}")

this is int data type 10
this is flaot data type 10.89
this is complex data type 3.4j

#### 2.Sequence data Type

In [18]:
# sequence is the collection of similar or different data types 
# string  - is a collection of one or more characters.
s = "sohel nadaf"
print(f" {s} this is string data type")

#list - list is just like array but the difference is in python we can store any kind of data type in  list with sequence
l = [10,"sohel",134.54,3.4j] 
print(l)

 sohel nadaf this is string data type
[10, 'sohel', 134.54, 3.4j]

#### 3 .Dictionary

In [22]:
# Dictionary is an unordered collection of data values 
# which can store data in key-value pair.
# we can find data with the help of keys

d = {"name":"sohel","age":23,"location":{"pune","solapur"}}
print(d)
# finding name wiht name key 
d["name"]

# finding location with location key
d['location']

{'name': 'sohel', 'age': 23, 'location': {'pune', 'solapur'}}

{'pune', 'solapur'}

## 4. What is an expression made up of? What do all expressions do?

In [23]:
# An expression is a combination of operators and operands to do specific operation 
# for example 

a = 10
b = 20 
# this is an example of expression which is the combination of operators + and operands a,b and producing output c 
# expressions produce values 
c = a + b
print(c)

30

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [25]:
# Statement is the smallest executable unit of code
# following is just a statement (creating a varibale)
spam = 10

# we write code each and every line we write called as statement which then executed by compiler or interpreter.
# example if , while ,for , import are all statements.

c = 10 + 20
# above line of code called as expression because Expression always evaluates to a value.

print(c)  # print is again statement.

30

## 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

In [26]:
bacon = 22
bacon + 1  # with +1 we incrementing bacon value by 1 so value of bacon is 23 after execution

23

## 7. What should the values of the following two terms be?
'spam' + 'spamspam'

'spam' * 3

In [28]:
# using + operator with sting value it can perform concatenation operation 
'spam' + 'spamspam'

'spamspamspam'

In [30]:
# here with the help of asterisk * symbol we just multiply the string value three times 
'spam'*3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

In [33]:
# this is valid variable name because eggs is not a value 
# eggs is variable and 30 is the value which associated with variable eggs
eggs = 30 
print(f"eggs valid variable name which holds {eggs}")

eggs valid variable name which holds 30

In [34]:
# 100 is invalid data type because we cant use value type for variable creation as per python guideline
100 = "sohel"

SyntaxError: cannot assign to literal (3541994527.py, line 2)

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#### 1.int() function

In [39]:
# if we want to convert value form one data type to another data type at that time we need these function
# we can also call it as type casting
# with the help of int() function we can convert float value to integer value 
a = 10.90
b = int(a)
print(f"previous value {a} and type {(type(a))}")
print(f"after using int() function value {b} and type {type(b)}")

previous value 10.9 and type <class 'float'>
after using int() function value 10 and type <class 'int'>

#### 2. float() function

In [43]:
# if we want to convert integer value to float value then at that time we use float() function.

a = 10
b = float(a)
print(f'previous value {a} and there data type {type(a)}')
print(f'after using float() function value {b} and type {type(b)}')

previous value 10 and there data type <class 'int'>
after using float() function value 10.0 and type <class 'float'>

#### 3. str() function

In [48]:
# if we want to convert any other data type into string at that time we use str() function 

# here converting integer to string
a = 10
b = str(a)
print(f'previous value {a} and there data type {type(a)}')
print(f'after using str() function value {b} and type {type(b)}')

# here converting float to string
c = 10.89
d = str(c)
print(f'previous value {c} and there data type {type(c)}')
print(f'after using str() function value {d} and type {type(d)}')

previous value 10 and there data type <class 'int'>
after using str() function value 10 and type <class 'str'>
previous value 10.89 and there data type <class 'float'>
after using str() function value 10.89 and type <class 'str'>

## 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [51]:
# this expression will give an error 
# we are trying to concatenate string with integer which is not possible 
# if we want to do then we need to convert integer to string then it wont give an error  
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [53]:
# solving above error
# we just convert the integer value to string with the help of str() function.
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'